{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
  <div class="container-fluid">
    <h1 class="text-center mt-5">La collection de sneakers</h1>
      <div class="justify-content-end">
        {{ form_start(search_form, {'attr': {'class': 'mt-4'}}) }}
          <div class="row g-3">
            <div class="col-md-3 mb-3">
              {{ form_row(search_form.price, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-3 mb-3">
              {{ form_row(search_form.sexe, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-3 mb-3">
              {{ form_row(search_form.category, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-3 mb-3">
              {{ form_row(search_form.orderBy, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-12 d-flex justify-content-center">
              <button class="btn btn-primary btn-lm mx-auto" type="submit">Filtrer</button>
            </div>
          </div>
        {{ form_end(search_form) }}
      </div>
    <div class="d-flex flex-wrap justify-content-center">
      <div class="row row-cols-md-3 g-4 mt-5">
        {% for shoe in shoes %}
          <div class="col">
            <div class="card text-end">
              <img src="{{ vich_uploader_asset(shoe) }}" class="card-img img-fit img-responsive"/>
              <div class="card-body">
                <h5 class="card-title">{{ shoe.name }}</h5>
                <p class="card-text">Prix : {{ shoe.price }}€</p>
                <a href="{{ path('app_presentation_shoe', {'id': shoe.id}) }}" class="btn btn-primary">Afficher le produit</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
