{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container">
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">Réinitialisez votre mot de passe</h1>
                        {{ form_start(requestForm) }}
                            <div class="mb-3">
                                {{ form_label(requestForm.email, 'Email') }}
                                {{ form_widget(requestForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrez votre adresse Email'}}) }}
                            </div>
                            <div class="mb-3">
                                <small class="form-text text-muted">
                                    Entrez votre adresse Email et recevez un lien pour réinitialiser votre mot de passe.
                                </small>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">Recevoir mail</button>
                            </div>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

