{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center gap-5">
        <h1 class="py-3">Liste des baskets</h1>
		<a class="btn btn-warning" href="{{ path('app_admin_shoes_new') }}">Ajouter
			<i class="fa-solid fa-plus"></i>
		</a>
	</div>
    <div class="table-responsive container-fluid mx-auto">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Sexe</th>
                    <th>Category</th>
                    <th>ShoeSize</th>
                    <th>QuatityStock</th>
                </tr>
            </thead>
            <tbody>
                {% for shoe in shoes %}
                    <tr>
                        <td>{{ shoe.id }}</td>
                        <td>{{ shoe.name }}</td>
                        <td><img src="{{ vich_uploader_asset(shoe) }}" width="250px" /></td> 
                        <td>{{ shoe.price }}</td>
                        <td>{{ shoe.sexe }}</td>
                        <td>{{ shoe.category }}</td>
                        <td>{{ shoe.shoeSize|join(', ') }}</td>                        
                        <td>{{ shoe.quatityStock }}</td>
                        <td>
                        	<div class="d-flex justify-content-center align-items-center gap-2">
								<a class="btn btn-warning" href="{{ path('app_admin_shoes_show', {'id': shoe.id}) }}">
									<i class="fa-solid fa-eye"></i>
								</a>
								<a class="btn btn-warning" href="{{ path('app_admin_shoes_edit', {'id': shoe.id}) }}">
									<i class="fa-solid fa-pen"></i>
								</a>
							</div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
